
<div class="card">
    <h6 style="background-color: black;"><span style="color: white; text-align: center;">choosen features</span></h6>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group" >
                    <li class="list-group-item">1.Infrastructure Deployement </li>
                    <hr>
                    <li class="list-item"></li>

                    <li class="list-group-item">2.Currency </li>
                    <hr>
                    <li class="list-item"><input type="text" placeholder="Select currency"></li>

                    <li class="list-group-item">3.Number of Virtual machines </li>
                    <hr>
                    <li class="list-item"><input type="text" placeholder="Enter number of VMs"></li>

                    <li class="list-group-item">4.Product Edition </li>
                    <hr>
                    <li class="list-item"><input type="text" placeholder="Select Product edition"></li>

                    <li class="list-group-item">5.virtualization Host type </li>
                    <hr>
                    <li class="list-item"><input type="text" placeholder="Select a host type"></li>

                    <li class="list-group-item">6.Storage Type </li>
                    <hr>
                    <li class="list-item"><input type="text" placeholder="Select a Storage type"></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>