<nav class="navbar navbar-expand-md  bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><span style="color: white;">United States</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Partner Central </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Community</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li>
            </ul>


            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <div class="col-xs-3">

                <input style="height: 25px; background-color: rgb(139, 134, 134);" class="form-control" id="ex1"
                    type="text" placeholder="search">
            </div>

        </div>
    </div>
</nav>



<nav class="navbar navbar-expand-lg  bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><span style="color: white; font-size: 30px;">Product Logo</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Products </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cloud Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consulting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Company</a>
                </li>
            </ul>
        </div>
    </div>
</nav>